{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>自作の達人</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="icon" href="{% static 'diy/image/favicon02.png' %}">
    <link rel="stylesheet" href="{% static 'diy/css/base.css' %}">

    {% block extra_head %}
    {% endblock %}

</head>
<body>

    <header class="header_area">
        <h1 class="header_title"><a href="{% url 'diy:index' %}">自作の達人</a></h1>
        {% if request.user.is_authenticated %}
        <a class="header_icon" href="{% url 'account_logout' %}">ログアウト</a>
        <a class="header_icon" href="{% url 'diy:mypage' %}">マイページ</a>
        {% else %}
        <a class="header_icon" href="{% url 'account_login' %}">ログイン</a>
        <a class="header_icon" href="{% url 'account_signup' %}">新規登録</a>
        {% endif %}
    </header>

    {# TODO:この検索欄、コミュニティ検索であればコミュニティのビューへ、プロジェクト検索であればプロジェクトのビューへ行くようaction属性を変えたい。 #}
    {# 複雑になるので、ヘッダーに検索バーは用意しない。スマホ表示時のレイアウトも考慮しなければならなくなる。#}
    {# ↑ そこで、mainエリアに検索バーを配置する。レイアウト上、不自然な位置に配置されないように注意する。 #}
    {% comment %}
    <form action="{% url 'diy:index' %}" method="get">
        <input type="text" name="search" placeholder="キーワードを入力してください。">
        <input type="submit" value="検索">
    </form>
    {% endcomment %}

    <main>
        {% block main %}
        {% endblock %}
    </main>

</body>
</html>

