{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>自作の達人</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>

    <link rel="icon" href="{% static 'diy/image/favicon02.png' %}">
    <link rel="stylesheet" href="{% static 'diy/css/base.css' %}">


    <script src="{% static 'diy/js/ajax.js' %}"></script>
    <script src="{% static 'diy/js/script.js' %}"></script>

    {% block extra_head %}
    {% endblock %}

</head>
<body>

    <header class="header_area">
        <h1 class="header_title_area"><a class="header_title" href="{% url 'diy:index' %}">自作の達人</a></h1>

        <div class="header_icon_area">
            {% if request.user.is_authenticated %}
            <a class="header_icon color_info" href="{% url 'diy:mypage' %}"><i class="fa-solid fa-house"></i></a>
            <a class="header_icon color_danger" href="{% url 'account_logout' %}"><i class="fa-solid fa-door-open"></i></a>
            {% else %}
            <a class="header_icon color_normal" href="{% url 'account_login' %}"><i class="fa-solid fa-right-to-bracket"></i></a>
            <a class="header_icon color_info" href="{% url 'account_signup' %}"><i class="fa-solid fa-user-plus"></i></a>
            {% endif %}
        </div>
    </header>


    <main>
        {% block main %}
        {% endblock %}
    </main>

    <div class="notify_message_area">
        {% for message in messages %}
        <div class="notify_message notify_message_{{ message.tags }}">
            <div class="notify_message_content">{{ message }}</div>
            <div class="notify_message_delete"><i class="fas fa-times"></i></div>
        </div>
        {% endfor %}
    </div>


</body>
</html>

