{% extends "diy/base.html" %}

{% block extra_head %}
{% endblock %}

{% block main %}

<h2>{{ community.name }}</h2>

<h2>トピック一覧</h2>

{% if community_topics %}
    {% include "diy/particle/topic_content.html" %}
    {% include "diy/particle/paginator.html" with data=community_topics param="community_topic_page" %}
{% else %}
    <div>トピックはありません</div>
{% endif %}

<h2>トピックを新たに作る</h2>

<form action="" method="POST">
    {% csrf_token %}
    <input type="text" name="title" maxlength="20" required placeholder="トピックタイトル">
    <input type="submit" value="作成">
</form>



{% endblock %}




