{% extends "diy/base.html" %}

{% block extra_head %}
{% endblock %}

{% block main %}


<h2>トピックを新たに作る</h2>

<form action="" method="POST">
    {% csrf_token %}
    <input type="text" name="title" maxlength="20" required placeholder="トピックタイトル">
    <input type="submit" value="作成">
</form>


<h2>トピック一覧</h2>

{% if community_topics %}
    {% for community_topic in community_topics %}
    <div><a href="{% url 'diy:community_topic' community_topic.pk %}">{{ community_topic.title }}</a></div>
    {% endfor %}
    {% include "diy/particle/paginator.html" with data=communities param="community_topic_page" %}
{% else %}
    <div>トピックはありません</div>
{% endif %}


{% endblock %}




