{% extends "diy/base.html" %}
{% load static %}

{% block extra_head %}
{% endblock %}

{% block main %}

<h2><a href="{% url 'diy:project' %}">新着プロジェクト</a></h2>

{% include 'diy/particle/project_content.html' %}

<div class="content_readmore_area">
    <a class="content_readmore" href="{% url 'diy:project' %}">もっと見る</a>
</div>

<h2><a href="{% url 'diy:community' %}">新着コミュニティ</a></h2>

{% include 'diy/particle/community_content.html' %}

<div class="content_readmore_area">
    <a class="content_readmore" href="{% url 'diy:community' %}">もっと見る</a>
</div>

{% endblock %}
