{% extends "diy/base.html" %}

{% block extra_head %}
{% endblock %}

{% block main %}

<h2>プロフィール編集</h2>

<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div>姓    :<input type="text" name="last_name"   value="{{ request.user.last_name   }}"></div>
    <div>名    :<input type="text" name="first_name"  value="{{ request.user.first_name  }}"></div>
    <div>ハンドルネーム:<input type="text" name="handle_name" value="{{ request.user.handle_name }}"></div>
    <div>アイコン:<input type="file" name="icon" accept="image/*"></div>
    {{ form.introduction }}

    <input type="submit" value="編集">

</form>

<h2>投稿したプロジェクト</h2>

{% include "diy/particle/project_content.html" %}
{% include "diy/particle/paginator.html" with data=projects param="project_page" %}

<h2>参加中のコミュニティ</h2>

{% include "diy/particle/community_content.html" %}
{% include "diy/particle/paginator.html" with data=communities param="community_page" %}


<h2>お気に入り</h2>

{% include "diy/particle/search.html" with search="project" %}
{% include "diy/particle/favorite_content.html" %}
{% include "diy/particle/paginator.html" with data=favorites param="favorite_page" %}

<h2>有料会員登録</h2>

{# TODO: ここでStripeのサブスク処理を #}

{% if request.user.customer %}
<a href="{% url 'diy:portal' %}">有料会員登録設定をする</a>
{% else %}
<form action="{% url 'diy:checkout' %}" method="post">
    {% csrf_token %}
    <input type="submit" value="有料会員登録する">
</form>
{% endif %}


<h2>プロジェクトの作成</h2>

<form action="{% url 'diy:project'  %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    {# TODO: ここで使用する素材を書く。JavaScriptでフォームを追加できるようにする。 #}
    <h3>必要な素材</h3>

    <input id="add_material_form" type="button" value="＋ 素材フォーム">

    <div id="material_form_area">
        {% comment %}
        <div class="material_form">
            <input type="text" name="name" placeholder="素材名">
            <input type="text" name="amount" placeholder="量">
        </div>
        {% endcomment %}
    </div>

    <h3>プロジェクト</h3>

    <select name="category">
        <option value="">カテゴリを選んでください</option>
        {% for category in categories %}
        <option value="{{ category.id }}">{{ category.name }}</option>
        {% endfor %}
    </select>

    <input type="text" name="title" maxlength="20" required placeholder="タイトル">
    <input type="file" name="thumbnail" accept="image/*">

    {# TODO: ここでレベル(レベルは5段階なので、アイコンで表現できないだろうか？)と所要時間のフォームを作っておく。#}
    <input type="number" name="time" placeholder="所要時間">
    <input type="number" name="level" placeholder="レベル">

    <textarea name="description" placeholder="プロジェクトの説明"></textarea>

    <h3>作業工程</h3>

    {{ project_form.process }}

    <input type="submit" value="送信"> 

</form>

<h2>コミュニティの作成</h2>

{# TODO:後にここで有料会員限定に書き換える #}
{% if request.user.is_authenticated %}
<form action="{% url 'diy:community' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="text" name="name" required maxlength="20" placeholder="タイトル" >
    <input type="file" name="thumbnail" accept="image/*">
    <input type="submit" value="送信">
</form>
{% else %}
<div>コミュニティの作成は有料会員限定です。</div>
{% endif %}


<h2>退会処理</h2>

<form action="{% url 'diy:mypage_quit' %}" method="POST" onsubmit="if(confirm('本当に退会しますか？\n退会するとこのアカウントから投稿されたデータは全て削除されます。')){ return true } else { return false };">
    {% csrf_token %}
    <div class="text-right">
        <input type="submit" value="退会する">
    </div>
</form>


{% endblock %}




