{% extends "diy/base.html" %}
{% load param_change %}



{% block extra_head %}
{% endblock %}

{% block main %}

<h2>プロジェクトを編集する</h2>

<div class="text-right">
    <a class="button" href="{% url 'diy:project_single' project.id %}">編集キャンセル</a>
</div>

<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <h3>必要な素材</h3>

    <input id="add_material_form" type="button" value="＋ 素材フォーム">

    <div id="material_form_area">
        {% for material in materials %}
        <div class="material_form">
            <input type="hidden" name="id" value="{{ material.id }}">
            <input type="text" name="name" placeholder="素材名" value="{{ material.name }}">
            <input type="text" name="amount" placeholder="量" value="{{ material.amount }}">

            <button type="button" class="delete_button material_delete">削除</button>
        </div>
        {% endfor %}
    </div>

    <h3>プロジェクト</h3>

    <select name="category">
        <option value="">カテゴリを選んでください</option>
        {% for category in categories %}
        <option value="{{ category.id }}" {% if category.id == project.category.id %}selected{% endif %}>{{ category.name }}</option>
        {% endfor %}
    </select>

    <input type="text" name="title" maxlength="20" required placeholder="タイトル" value="{{ project.title }}">

    <div>
        <label class="image_input_area">
            <input class="image_input" type="file" name="thumbnail" accept="image/*">
            <div class="image_input_icon"><i class="fas fa-image"></i></div>
            <img class="image_input_preview" src="{% if project.thumbnail %}{{ project.thumbnail.url }}{% endif %}" alt="">
        </label>
    </div>

    <div>
        <select name="level">
            <option value="">作業レベル</option>
            <option value="1" {% if project.str_level == "1" %}selected{% endif %}>Lv.1</option>
            <option value="2" {% if project.str_level == "2" %}selected{% endif %}>Lv.2</option>
            <option value="3" {% if project.str_level == "3" %}selected{% endif %}>Lv.3</option>
            <option value="4" {% if project.str_level == "4" %}selected{% endif %}>Lv.4</option>
            <option value="5" {% if project.str_level == "5" %}selected{% endif %}>Lv.5</option>
        </select>
        <input type="number" name="time" placeholder="所要時間" min="0" value="{{ project.time }}">
    </div>

    <textarea name="description" placeholder="プロジェクトの説明">{{ project.description }}</textarea>

    <h3>作業工程</h3>

    {{ form.process }}

    <div class="text-right">
        <input type="submit" value="送信"> 
    </div>

</form>
{% endblock %}


