{% extends "diy/base.html" %}
{% load param_change %}



{% block extra_head %}
{% endblock %}

{% block main %}

<h2>プロジェクトを編集する</h2>

<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <h3>必要な素材</h3>

    <input id="add_material_form" type="button" value="＋ 素材フォーム">

    <div id="material_form_area">
        {% for material in materials %}
        <div class="material_form">
            <input type="hidden" name="id" value="{{ material.id }}">
            <input type="text" name="name" placeholder="素材名" value="{{ material.name }}">
            <input type="text" name="amount" placeholder="量" value="{{ material.amount }}">
        </div>
        {% endfor %}
    </div>

    <h3>プロジェクト</h3>

    <select name="category">
        <option value="">カテゴリを選んでください</option>
        {% for category in categories %}
        <option value="{{ category.id }}" {% if category.id == project.category.id %}selected{% endif %}>{{ category.name }}</option>
        {% endfor %}
    </select>

    <input type="text" name="title" maxlength="20" required placeholder="タイトル" value="{{ project.title }}">
    <input type="file" name="thumbnail">

    {# TODO: ここでレベル(レベルは5段階なので、アイコンで表現できないだろうか？)と所要時間のフォームを作っておく。#}
    <input type="number" name="time" placeholder="所要時間" value="{{ project.time }}">
    <input type="number" name="level" placeholder="レベル" value="{{ project.level }}">

    <textarea name="description" placeholder="プロジェクトの説明">{{ project.description }}</textarea>

    <h3>作業工程</h3>

    {{ form.process }}

    <input type="submit" value="送信"> 

</form>
{% endblock %}


