{% extends "diy/base.html" %}
{% load static %}

{% block extra_head %}
{% endblock %}

{% block main %}


<div class="project_header_area">

    <div class="project_header">
        <div class="project_thumbnail_area">
            {% if project.thumbnail %}
            <img class="project_thumbnail" src="{{ project.thumbnail.url }}" alt="">
            {% else %}
            <img class="project_thumbnail" src="{% static 'diy/image/noimage.jpg' %}" alt="">
            {% endif %}
        </div>
    </div>
    <div class="project_header">
        <h2 class="project_title">{{ project.title }}</h2>



        <div class="project_status_area">
            <div class="status_user_area">
                <a class="status_user" href="{% url 'diy:user' project.user.id %}">
                    {% if project.user.icon %}
                    <img class="user_icon_micro" src="{{ project.user.icon.url }}" alt=""> {{ project.user.handle_name }}
                    {% else %}
                    <img class="user_icon_micro" src="{% static 'diy/image/noimage.jpg' %}" alt=""> {{ project.user.handle_name }}
                    {% endif %}
                </a>
            </div>
            <div class="project_status">投稿日時: {{ project.dt }}</div>
            <div class="project_status">カテゴリ: <a href="">{{ project.category.name }}</a></div>
            <div class="project_status">所要時間: {{ project.time }}分</div>
            <div class="project_status">作業難度: {{ project.level }}</div>
            <div class="project_status">フィードバック: 
                {% with range=''|center:project.avg_star_score  %}
                {% for x in range %}<i class="fa-solid fa-star"></i>{% endfor %}
                {% endwith %}
                {% if project.avg_star_icon_few == 1 %}<i class="fa-solid fa-star"></i>{% elif project.avg_star_icon_few == 0.5 %}<i class="fa-solid fa-star-half"></i>{% endif %}
                ({{ project.feedback_amount }})
            </div>
        </div>

        {# ここにレビューとお気に入り登録と編集・削除を行うことができるようにする。#}
        <div class="project_control_area">

            <div class="project_control">
                <form action="{% url 'diy:favorite' %}" method="POST" class="project_control_favorite {% if is_favorite %}added_favorite{% endif %}">
                    {% csrf_token %}
                    <input type="hidden" name="project" value="{{ project.id }}">
                    <div id="add_favorite">
                        {% if is_favorite %}
                        お気に入り登録解除
                        {% else %}
                        お気に入り登録
                        {% endif %}
                    </div>
                </form>
            </div>
            {% if project.user == request.user %}
            <div class="project_control">
                <div class="project_control_admin">
                    {# TODO: ここで編集ページ、削除ページへジャンプする。 #}
                    <div class="project_control_admin_content"><a href="{% url 'diy:project_mod' project.id %}" class="project_control_edit">編集</a></div>
                    <div class="project_control_admin_content">
                        <a id="project_control_delete" class="project_control_delete">
                            <input id="project_control_delete_url" type="hidden" value="{% url 'diy:project_mod' project.id %}">
                            削除
                        </a>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="project_description">{{ project.description|urlize|linebreaksbr  }}</div>

    </div>

</div>


<hr>


{# TODO:ここはFlexにしなくても良いかも#}
<div class="project_content_area">

    <div class="project_content_right">
        <h3 class="project_subtitle">材料</h3>
        <div class="material_area">
            <div class="material_content material_header"><div class="material_content_inner material_content_inner_right">素材名</div></div>
            <div class="material_content material_header"><div class="material_content_inner material_content_inner_left">数量</div></div>
            {% for material in materials %}
            <div class="material_content"><div class="material_content_inner material_content_inner_right">{{ material.name   }}</div></div>
            <div class="material_content"><div class="material_content_inner material_content_inner_left">{{ material.amount }}</div></div>
            {% empty %}
            <div class="material_content"><div class="material_content_inner material_content_inner_right">なし</div></div>
            <div class="material_content"><div class="material_content_inner material_content_inner_left">なし</div></div>
            {% endfor %}
        </div>
    </div>
    <div class="project_content_left">
        <h3 class="project_subtitle">作業工程</h3>
        <div class="project_process">{{ project.process|safe }}</div>
    </div>

</div>

<hr>


<div class="project_feedback_area">

    <div class="project_feedback_right">
        <h3 class="project_subtitle">フィードバックを投稿する</h3>

        {% if request.user.is_authenticated %}
        <form action="{% url 'diy:project_single' project.id %}" method="post">
            {% csrf_token %}

            <div>
                <input id="star_radio_1" type="radio" name="star" value="1">
                <input id="star_radio_2" type="radio" name="star" value="2">
                <input id="star_radio_3" type="radio" name="star" value="3">
                <input id="star_radio_4" type="radio" name="star" value="4">
                <input id="star_radio_5" type="radio" name="star" value="5">
                <div class="star_radio_label_area">
                    <div class="star_radio_label_flex">
                        <label class="star_radio_label" for="star_radio_5"><div class="true_star" ><i class="fas fa-star"></i></div><div class="false_star"><i class="far fa-star"></i></div></label>
                        <label class="star_radio_label" for="star_radio_4"><div class="true_star" ><i class="fas fa-star"></i></div><div class="false_star"><i class="far fa-star"></i></div></label>
                        <label class="star_radio_label" for="star_radio_3"><div class="true_star" ><i class="fas fa-star"></i></div><div class="false_star"><i class="far fa-star"></i></div></label>
                        <label class="star_radio_label" for="star_radio_2"><div class="true_star" ><i class="fas fa-star"></i></div><div class="false_star"><i class="far fa-star"></i></div></label>
                        <label class="star_radio_label" for="star_radio_1"><div class="true_star" ><i class="fas fa-star"></i></div><div class="false_star"><i class="far fa-star"></i></div></label>
                    </div>
                </div>
            </div>

            <textarea name="comment" placeholder="ここにフィードバックを入力してください"></textarea>

            <div class="text-right">
                <input type="submit" value="送信">
            </div>
        </form>
        {% else %}
        <div>フィードバックを投稿するには、<a href="{% url 'account_login' %}">ログイン</a>してください。</div>
        {% endif %}
    </div>
    <div class="project_feedback_left">
        <h3 class="project_subtitle">投稿されたフィードバック</h3>
        {% if feedbacks %}
            {% for feedback in feedbacks %}

            <div class="status_user_area">
                <a class="status_user" href="{% url 'diy:user' feedback.user.id %}">
                    {% if feedback.user.icon %}
                    <img class="user_icon_nano" src="{{ feedback.user.icon.url }}" alt=""> {{ feedback.user.handle_name }}
                    {% else %}
                    <img class="user_icon_nano" src="{% static 'diy/image/noimage.jpg' %}" alt=""> {{ feedback.user.handle_name }}
                    {% endif %}
                </a>
            </div>

            <div class="feedback_star">
                <span class="feedback_true_star">{% for s in feedback.star_icon.true_star %}<i class="fas fa-star"></i>{% endfor %}</span>
                <span class="feedback_false_star">{% for s in feedback.star_icon.false_star %}<i class="far fa-star"></i>{% endfor %}</span>
            </div>
            <div class="feedback_status">
                <div>投稿時間: {{ feedback.dt }}</div>
            </div>
            <div class="feedback_comment">{{ feedback.comment|urlize|linebreaksbr }}</div>

            {% if feedback.user == request.user or feedback.project.user == request.user %}
            {# TODO: ここでproject.id ではなくfeedback.idをpkに与えている点に注意 #}
            <form class="feedback_control_area" action="{% url 'diy:project_single' feedback.id %}">
                <button class="feedback_delete" type="button">削除</button>
            </form>
            {% endif %}

            {% endfor %}
            {% include "diy/particle/paginator.html" with data=feedbacks param="feedback_page" %}
        {% else %}
        <div>フィードバックはありません。</div>
        {% endif %}

    </div>
</div>
{% endblock %}




