{% extends "diy/base.html" %}

{% block extra_head %}
{% endblock %}

{% block main %}

<h2>{{ user.handle_name }}</h2>

<h3>自己紹介文</h3>

<div>{{ user.introduction|safe }}</div>

<h3>投稿したプロジェクト</h3>

{% include "diy/particle/project_content.html" %}
{% include "diy/particle/paginator.html" with data=projects param="project_page" %}

<h3>加入中のコミュニティ</h3>

{% include "diy/particle/community_content.html" %}
{% include "diy/particle/paginator.html" with data=communities param="community_page" %}


{% endblock %}


