{% extends "diy/base.html" %}
{% load static %}

{% block extra_head %}
{% endblock %}

{% block main %}

<h2>{{ user.handle_name }}</h2>

<div class="text-center">
    <div class="user_icon_area">
        {% if user.icon %}
        <img class="user_icon" src="{{ user.icon.url }}" alt="">
        {% else %}
        <img class="user_icon" src="{% static 'diy/image/noimage.jpg' %}" alt="">
        {% endif %}
    </div>
</div>

<div class="user_introduction_area">{{ user.introduction|safe }}</div>

<h2>投稿したプロジェクト</h2>

{% include "diy/particle/project_content.html" %}
{% include "diy/particle/paginator.html" with data=projects param="project_page" %}

<h2>加入中のコミュニティ</h2>

{% include "diy/particle/community_content.html" %}
{% include "diy/particle/paginator.html" with data=communities param="community_page" %}


{% endblock %}


