:root{
    /* 配色指定1 */
    --green        : #37AB9D;
    --light-green  : #4DC0B2;
    --orange       : #FFC042;
    --gray         : #586365;


    /* 配色指定2 */
    /*
    --base-color   : #1B435D;
    --accent-color : #78BBE6;
    --theme-color  : #D5EEFF;
    --font-color   : #F99F48;
    */
}

body{
    margin:0;
    color:var(--gray);

    /* ここにフォントを入れる？ 自作の達人←太鼓の達人みたいな柔らかめのフォント？ */

}
img { max-width:100%; }

h1 { }
h2 { }
h3 { }
h4 { }
h5 { }
h6 { }

a {
    text-decoration:none;
    color:var(--gray);
}


/* header_area */
.header_area{
    display:flex;
}
.header_title{
    width:80%;
}
.header_icon{
    width:10%;
}


/* content_area */

.content_area{
    display:flex;
    flex-wrap:wrap;

    justify-content:center;

}
.content{
    width:  calc(100vw / 5 - 1rem);
    height: calc(100vw / 5 - 1rem);
}
.content_inner{
    /*
    border:solid 1px black;
    */
    display:block;
    height:100%;
}
.content_thumbnail_area{
    /* 正方形にするため、widthと同じ値を入れたい。 */
    height: 100%;

    position:relative;
    background: var(--light-green);
    overflow:hidden;
}
.content_thumbnail{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    transition:0.25s;

    /* TODO:できれば画像のアスペクト比を維持した状態で表示させたい。 */
    width:  calc(100vw / 5 - 1rem);
    height: calc(100vw / 5 - 1rem);

}

.content_thumbnail_area:hover .content_thumbnail{
    transform:translate(-50%,-50%) scale(1.25);
}

.content_title{
    position:absolute;
    bottom:0;
    width:100%;
    text-align:center;
    font-size:1.25rem;
    font-weight:bold;
    background:var(--orange);
    padding:0.5rem 0;
}
.content_readmore_area{
    text-align:right;
}
.content_readmore{
    display:inline-block;
    padding:0.5rem 3rem;
    margin:0.5rem;
    border-radius:2rem;
    border:solid 0.2rem var(--orange);
    transition: 0.2s;
}
.content_readmore:hover{
    background: var(--orange);
}

/* content_area responsive */

@media (max-width:800px) {
    .content{
        width:  calc(100vw / 2);
        height: calc(100vw / 2);
    }
    .content_readmore_area{
        text-align:center;
    }

}



/* project single */
.project_title {
    padding:0.5rem;
    background:var(--light-green);
}

.project_subtitle{
    text-align:center;
    font-size:1.5rem;

}

.project_thumbnail_area{
    text-align:center;
}

.project_status_area{
    font-size:0.9rem;

    width:calc(100% - 3rem);
    margin:auto;

}


.project_content_area{
    display:flex;
    flex-wrap:wrap;
}
.project_content{
    width:calc(100% / 2);
}

.project_feedback_area{
    display:flex;
    flex-wrap:wrap;
}
.project_feedback{
    width:calc(100% / 2);
}


.material_area{
    display:flex;
    flex-wrap:wrap;
}
.material_content{
    font-size:1.2rem;
    text-align:center;
    width:calc(100% / 2);
}








/* feedback form */


.star_radio_label i {
    font-size:3rem;
}

input[type="radio"]{
    display:none;
}
.star_radio_label_area {
    display:inline-block;
}
.star_radio_label_flex {
    display:flex;
    flex-direction: row-reverse;
}
.star_radio_label{
    cursor:pointer;
}
.true_star {
    display:none;
    color:var(--orange);
}
.false_star {
    color:var(--gray);
}

.feedback_star { font-size:0; }
.feedback_star > span { font-size:1.25rem; }
.feedback_true_star { color:orange; }
.feedback_false_star { color:gray; }



/* ホバーをしたときの装飾 */
label[for="star_radio_1"]:hover > .true_star{ display:inline-block; }
label[for="star_radio_1"]:hover > .false_star{ display:none; }

label[for="star_radio_2"]:hover > .true_star , 
label[for="star_radio_2"]:hover ~ label[for="star_radio_1"] > .true_star { display:inline-block; }

label[for="star_radio_2"]:hover > .false_star, 
label[for="star_radio_2"]:hover ~ label[for="star_radio_1"] > .false_star{ display:none; }

label[for="star_radio_3"]:hover > .true_star , 
label[for="star_radio_3"]:hover ~ label[for="star_radio_2"] > .true_star ,
label[for="star_radio_3"]:hover ~ label[for="star_radio_1"] > .true_star { display:inline-block; }

label[for="star_radio_3"]:hover > .false_star, 
label[for="star_radio_3"]:hover ~ label[for="star_radio_2"] > .false_star,
label[for="star_radio_3"]:hover ~ label[for="star_radio_1"] > .false_star{ display:none; }

label[for="star_radio_4"]:hover > .true_star , 
label[for="star_radio_4"]:hover ~ label[for="star_radio_3"] > .true_star ,
label[for="star_radio_4"]:hover ~ label[for="star_radio_2"] > .true_star ,
label[for="star_radio_4"]:hover ~ label[for="star_radio_1"] > .true_star { display:inline-block; }

label[for="star_radio_4"]:hover > .false_star, 
label[for="star_radio_4"]:hover ~ label[for="star_radio_3"] > .false_star,
label[for="star_radio_4"]:hover ~ label[for="star_radio_2"] > .false_star,
label[for="star_radio_4"]:hover ~ label[for="star_radio_1"] > .false_star{ display:none; }

label[for="star_radio_5"]:hover > .true_star , 
label[for="star_radio_5"]:hover ~ label[for="star_radio_4"] > .true_star ,
label[for="star_radio_5"]:hover ~ label[for="star_radio_3"] > .true_star ,
label[for="star_radio_5"]:hover ~ label[for="star_radio_2"] > .true_star ,
label[for="star_radio_5"]:hover ~ label[for="star_radio_1"] > .true_star { display:inline-block; }

label[for="star_radio_5"]:hover > .false_star, 
label[for="star_radio_5"]:hover ~ label[for="star_radio_4"] > .false_star,
label[for="star_radio_5"]:hover ~ label[for="star_radio_3"] > .false_star,
label[for="star_radio_5"]:hover ~ label[for="star_radio_2"] > .false_star,
label[for="star_radio_5"]:hover ~ label[for="star_radio_1"] > .false_star{ display:none; }


/* チェックされたときの装飾 */
#star_radio_1[type="radio"]:checked ~ .star_radio_label_area > .star_radio_label_flex > label[for="star_radio_1"] > .true_star{ display:inline-block; }
#star_radio_1[type="radio"]:checked ~ .star_radio_label_area > .star_radio_label_flex > label[for="star_radio_1"] > .false_star{ display:none; }

#star_radio_2[type="radio"]:checked ~ .star_radio_label_area > .star_radio_label_flex > label[for="star_radio_2"] > .true_star , 
#star_radio_2[type="radio"]:checked ~ .star_radio_label_area > .star_radio_label_flex > label[for="star_radio_1"] > .true_star { display:inline-block; }
             
#star_radio_2[type="radio"]:checked ~ .star_radio_label_area > .star_radio_label_flex > label[for="star_radio_2"] > .false_star, 
#star_radio_2[type="radio"]:checked ~ .star_radio_label_area > .star_radio_label_flex > label[for="star_radio_1"] > .false_star{ display:none; }
             
#star_radio_3[type="radio"]:checked ~ .star_radio_label_area > .star_radio_label_flex > label[for="star_radio_3"] > .true_star , 
#star_radio_3[type="radio"]:checked ~ .star_radio_label_area > .star_radio_label_flex > label[for="star_radio_2"] > .true_star ,
#star_radio_3[type="radio"]:checked ~ .star_radio_label_area > .star_radio_label_flex > label[for="star_radio_1"] > .true_star { display:inline-block; }
             
#star_radio_3[type="radio"]:checked ~ .star_radio_label_area > .star_radio_label_flex > label[for="star_radio_3"] > .false_star, 
#star_radio_3[type="radio"]:checked ~ .star_radio_label_area > .star_radio_label_flex > label[for="star_radio_2"] > .false_star,
#star_radio_3[type="radio"]:checked ~ .star_radio_label_area > .star_radio_label_flex > label[for="star_radio_1"] > .false_star{ display:none; }
             
#star_radio_4[type="radio"]:checked ~ .star_radio_label_area > .star_radio_label_flex > label[for="star_radio_4"] > .true_star , 
#star_radio_4[type="radio"]:checked ~ .star_radio_label_area > .star_radio_label_flex > label[for="star_radio_3"] > .true_star ,
#star_radio_4[type="radio"]:checked ~ .star_radio_label_area > .star_radio_label_flex > label[for="star_radio_2"] > .true_star ,
#star_radio_4[type="radio"]:checked ~ .star_radio_label_area > .star_radio_label_flex > label[for="star_radio_1"] > .true_star { display:inline-block; }
             
#star_radio_4[type="radio"]:checked ~ .star_radio_label_area > .star_radio_label_flex > label[for="star_radio_4"] > .false_star, 
#star_radio_4[type="radio"]:checked ~ .star_radio_label_area > .star_radio_label_flex > label[for="star_radio_3"] > .false_star,
#star_radio_4[type="radio"]:checked ~ .star_radio_label_area > .star_radio_label_flex > label[for="star_radio_2"] > .false_star,
#star_radio_4[type="radio"]:checked ~ .star_radio_label_area > .star_radio_label_flex > label[for="star_radio_1"] > .false_star{ display:none; }
             
#star_radio_5[type="radio"]:checked ~ .star_radio_label_area > .star_radio_label_flex > label[for="star_radio_5"] > .true_star , 
#star_radio_5[type="radio"]:checked ~ .star_radio_label_area > .star_radio_label_flex > label[for="star_radio_4"] > .true_star ,
#star_radio_5[type="radio"]:checked ~ .star_radio_label_area > .star_radio_label_flex > label[for="star_radio_3"] > .true_star ,
#star_radio_5[type="radio"]:checked ~ .star_radio_label_area > .star_radio_label_flex > label[for="star_radio_2"] > .true_star ,
#star_radio_5[type="radio"]:checked ~ .star_radio_label_area > .star_radio_label_flex > label[for="star_radio_1"] > .true_star { display:inline-block; }
             
#star_radio_5[type="radio"]:checked ~ .star_radio_label_area > .star_radio_label_flex > label[for="star_radio_5"] > .false_star, 
#star_radio_5[type="radio"]:checked ~ .star_radio_label_area > .star_radio_label_flex > label[for="star_radio_4"] > .false_star,
#star_radio_5[type="radio"]:checked ~ .star_radio_label_area > .star_radio_label_flex > label[for="star_radio_3"] > .false_star,
#star_radio_5[type="radio"]:checked ~ .star_radio_label_area > .star_radio_label_flex > label[for="star_radio_2"] > .false_star,
#star_radio_5[type="radio"]:checked ~ .star_radio_label_area > .star_radio_label_flex > label[for="star_radio_1"] > .false_star{ display:none; }


/* paginator */

.pagination{

    margin:2rem 0;
    display:flex;
    justify-content:center;
    list-style:none;

}
.page_item{}
.page_link{
    padding:0.75rem;
    margin:0.25rem;
    border-radius:0.25rem;
    border:solid 0.2rem var(--orange);
}


