:root{
    /* 配色指定1 */
    --green        : #37AB9D;
    --light-green  : #4DC0B2;
    --orange       : #FFC042;
    --gray         : #586365;


    /* 配色指定2 */
    /*
    --base-color   : #1B435D;
    --accent-color : #78BBE6;
    --theme-color  : #D5EEFF;
    --font-color   : #F99F48;
    */
}

body{
    margin:0;
    color:var(--gray);

    /* ここにフォントを入れる？ 自作の達人←太鼓の達人みたいな柔らかめのフォント？ */

}

/* 余白をつけたい */
/*
main{
    max-width:1240px;
    margin:auto;
}
*/



img { max-width:100%; }

h1 { margin:0;background:var(--light-green);padding:0.5rem 0; }
h2 { margin:0;background:var(--gray);color:white;padding:0.5rem 0; }
h3 { margin:0; }
h4 { margin:0; }
h5 { margin:0; }
h6 { margin:0; }

.text-right{text-align:right;}
.text-center{text-align:center;}



.color_danger{ color: var(--gray); }
.color_success{ color: var(--green); }
.color_info{ color: var(--orange); }
.color_normal{ color: white;}

a {
    text-decoration:none;
    color:inherit;
}

/* header_area */
.header_area{
    display:flex;
    background:var(--light-green);
    padding:0.25rem 0;
}
.header_title_area{
    width:calc(100% - 5rem);
}
.header_title{
    color:white;
}
.header_icon_area{
    width:5rem;
    font-size:2rem;
}



/* content_areaは作り直し */
/* display:flexの高さを合わせるやつを使う。フィードバック件数と平均点、難易度と作業時間も入れておく。*/

/* content_area */
.content_area{
    display:flex;
    flex-wrap:wrap;

    justify-content:center;
}
.content{
    width:  calc(100vw / 5 - 1rem);
    height: calc(100vw / 5 - 1rem);
}
.content_inner{
    /*
    border:solid 1px black;
    */
    display:block;
    height:100%;
}
.content_thumbnail_area{
    /* 正方形にするため、widthと同じ値を入れたい。 */
    height: 100%;

    position:relative;
    background: var(--light-green);
    overflow:hidden;
}
.content_thumbnail{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    transition:0.25s;

    /* TODO:できれば画像のアスペクト比を維持した状態で表示させたい。 */
    width:  calc(100vw / 5 - 1rem);
    height: calc(100vw / 5 - 1rem);
}

.content_thumbnail_area:hover .content_thumbnail{
    transform:translate(-50%,-50%) scale(1.25);
}

.content_title{
    position:absolute;
    bottom:0;
    width:100%;
    text-align:center;
    font-size:1.1rem;
    font-weight:bold;
    background:var(--orange);
    padding:0.5rem 0;
}
.content_detail{
    font-size:0.85rem;
}

.content_dt{
    position:absolute;
    top:0;
    right:0;
    font-size:0.8rem;
    padding:0.25rem 0.5rem;
    color:white;
    background:var(--gray);
}


.content_readmore_area{
    text-align:right;
}
.content_readmore{
    display:inline-block;
    padding:0.5rem 3rem;
    margin:0.5rem;
    border-radius:0.5rem;
    border:solid 0.2rem var(--orange);
    transition: 0.2s;
}
.content_readmore:hover{
    background: var(--orange);
}

/* content_area responsive */

@media (max-width:800px) {
    .content{
        width:  calc(100vw / 2);
        height: calc(100vw / 2);
    }
    .content_readmore_area{
        text-align:center;
    }
    .content_thumbnail{
        width:  calc(100vw / 2);
        height: calc(100vw / 2);
    }
}



/* project single */


.project_header_area{

    margin:1rem 0;
    display:flex;
    flex-wrap:wrap;
}

.project_header{
    width:calc(100% / 2);

}


.project_title {
    padding:0.5rem;
    font-size:1.5rem;
}

.project_thumbnail_area{
    text-align:center;
}
.project_status_area{
    font-size:0.9rem;
    margin:0 2rem;
    padding:0.25rem;
}
.project_status{
    display:inline-block;

    margin:0 0.25rem;
}


.project_control_area {
    display:flex;
    flex-wrap:wrap;
}

.project_control{
    width:calc(100% / 2);
}
.project_control_favorite{
    margin:0.5rem;
    padding:1rem;
    text-align:center;
    border:solid 0.2rem var(--orange);
    border-radius:0.5rem;
    cursor:pointer;
}
.added_favorite{
    background:var(--orange);
    color:white;
    font-weight:bold;
}

.project_control_admin{
    display:flex;
    flex-wrap:wrap;
}
.project_control_admin_content{
    width:calc(100% / 2);
}
.project_control_admin_content > a,button{
    display:block;
    margin:0.5rem;
    padding:1rem;
    text-align:center;
    border-radius:0.5rem;
    cursor:pointer;
}
.project_control_edit{ border:solid 0.2rem var(--light-green); }
.project_control_delete{ border:solid 0.2rem crimson; }




.project_description{
    font-size:1.2rem;
    margin:0.5rem;
}



.project_subtitle{
    font-size:1.25rem;
}

.project_content_area{
    display:flex;
    flex-wrap:wrap;
}
.project_content_right{
    width:calc(100% / 3 );
}
.project_content_left{
    width:calc(100% / 3*2);
}


/* 作業工程内の装飾 */
.project_process{
    margin:0.5rem;
    padding:1rem;
    border:solid 0.2rem var(--light-green);

    border-radius:0.5rem;
}

.project_process h1 {}
.project_process h2 {}
.project_process h3 {}
.project_process h4 {}
.project_process h5 {}
.project_process h6 {}



.project_feedback_area{
    display:flex;
    flex-wrap:wrap;
}
.project_feedback_right{
    width:calc(100% / 3);
}
.project_feedback_left{
    width:calc(100% / 3 * 2);
}

.material_area{
    display:flex;
    flex-wrap:wrap;
    font-size:1.1rem;
    margin:0.5rem 1rem;
}
.material_content{
    text-align:center;
    width:calc(100% / 2);
}
.material_header{
    font-weight:bold;
    font-size:1.5rem;
    border-bottom:solid 0.25rem white;
}
.material_content_inner{
    padding:0.25rem;
}
.material_content_inner_right{ color:white;background:var(--green);}
.material_content_inner_left { color:white;background:var(--gray); } 





/* community */ 



.community_header_area{
    margin:1rem 0;
    display:flex;
    flex-wrap:wrap;
}
.community_header{
    width:calc(100% / 2);
}
.community_name {
    padding:0.5rem;
    font-size:1.5rem;
}
.community_thumbnail_area{
    text-align:center;
}
.community_status_area{
    font-size:0.9rem;
    margin:0 2rem;
    padding:0.25rem;
}
.community_status{
    display:inline-block;
    margin:0 0.25rem;
}

.community_control_area{
    display:flex;
    flex-wrap:wrap;
}
.community_control{
    width:calc(100% / 2);
}

.community_control > div {
    padding:1rem;
    margin:1rem;
    text-align:center;
    border-radius:0.25rem;
    cursor:pointer;
    transition:0.2s;
}
.community_control_enter{
    border:solid 0.2rem var(--light-green);
}
.community_control_enter:hover{
    color:white;
    background:var(--light-green);
}
.community_control_closer{
    border:solid 0.2rem var(--gray);
}
.community_control_closer:hover{
    color:white;
    background: var(--gray);
}




.topic_area{
    display:flex;
    flex-wrap:wrap;
}
.topic_content{
    width:calc(100% / 2);
}


.topic_message_area {
    margin: 0.5rem;
    padding: 1rem;
    border: solid 0.2rem var(--light-green);
    border-radius: 0.5rem;
}
.topic_message_status_area{
    font-size:0.9rem;
}
.topic_message_status{
    display:inline-block;
}
.topic_message{
    padding:1rem;
}




.topic_message_control_area{
    display:flex;
    flex-wrap:wrap;
}

.topic_message_control{ 
    width:calc(100% / 2);
    text-align:center;
    cursor:pointer;
}
.message_edit{
    padding:0.5rem;
    border:solid 0.2rem var(--light-green);
}
.message_delete{
    padding:0.5rem;
    border:solid 0.2rem crimson;
    transition:0.2s;
}
.message_delete:hover{
    background:crimson;
    color:white;
}


.project_control_edit{ border:solid 0.2rem var(--light-green); }
.project_control_delete{ border:solid 0.2rem crimson; }


/* feedback */

.feedback_status{
    font-size:0.9rem;
    
}
.feedback_comment{
    margin:0 1rem;
}


/* feedback form */
.star_radio_label i {
    font-size:2rem;
}

input[type="radio"]{
    display:none;
}
.star_radio_label_area {
    display:inline-block;
}
.star_radio_label_flex {
    display:flex;
    flex-direction: row-reverse;
}
.star_radio_label{
    cursor:pointer;
}
.true_star {
    display:none;
    color:var(--orange);
}
.false_star {
    color:var(--gray);
}

.feedback_star { font-size:0; }
.feedback_star > span { font-size:1.25rem; }
.feedback_true_star { color:orange; }
.feedback_false_star { color:gray; }


.feedback_control_area{
    padding:0 1rem;
    text-align:right;
}
.feedback_delete{
    background:white;
    display:inline-block;
    border:solid 0.2rem crimson;
    border-radius: 0.5rem;
    cursor:pointer;
    padding:0.5rem;
}
.feedback_delete:hover{
    background:crimson;
    color:white;
}






/* ホバーをしたときの装飾 */
label[for="star_radio_1"]:hover > .true_star{ display:inline-block; }
label[for="star_radio_1"]:hover > .false_star{ display:none; }

label[for="star_radio_2"]:hover > .true_star , 
label[for="star_radio_2"]:hover ~ label[for="star_radio_1"] > .true_star { display:inline-block; }

label[for="star_radio_2"]:hover > .false_star, 
label[for="star_radio_2"]:hover ~ label[for="star_radio_1"] > .false_star{ display:none; }

label[for="star_radio_3"]:hover > .true_star , 
label[for="star_radio_3"]:hover ~ label[for="star_radio_2"] > .true_star ,
label[for="star_radio_3"]:hover ~ label[for="star_radio_1"] > .true_star { display:inline-block; }

label[for="star_radio_3"]:hover > .false_star, 
label[for="star_radio_3"]:hover ~ label[for="star_radio_2"] > .false_star,
label[for="star_radio_3"]:hover ~ label[for="star_radio_1"] > .false_star{ display:none; }

label[for="star_radio_4"]:hover > .true_star , 
label[for="star_radio_4"]:hover ~ label[for="star_radio_3"] > .true_star ,
label[for="star_radio_4"]:hover ~ label[for="star_radio_2"] > .true_star ,
label[for="star_radio_4"]:hover ~ label[for="star_radio_1"] > .true_star { display:inline-block; }

label[for="star_radio_4"]:hover > .false_star, 
label[for="star_radio_4"]:hover ~ label[for="star_radio_3"] > .false_star,
label[for="star_radio_4"]:hover ~ label[for="star_radio_2"] > .false_star,
label[for="star_radio_4"]:hover ~ label[for="star_radio_1"] > .false_star{ display:none; }

label[for="star_radio_5"]:hover > .true_star , 
label[for="star_radio_5"]:hover ~ label[for="star_radio_4"] > .true_star ,
label[for="star_radio_5"]:hover ~ label[for="star_radio_3"] > .true_star ,
label[for="star_radio_5"]:hover ~ label[for="star_radio_2"] > .true_star ,
label[for="star_radio_5"]:hover ~ label[for="star_radio_1"] > .true_star { display:inline-block; }

label[for="star_radio_5"]:hover > .false_star, 
label[for="star_radio_5"]:hover ~ label[for="star_radio_4"] > .false_star,
label[for="star_radio_5"]:hover ~ label[for="star_radio_3"] > .false_star,
label[for="star_radio_5"]:hover ~ label[for="star_radio_2"] > .false_star,
label[for="star_radio_5"]:hover ~ label[for="star_radio_1"] > .false_star{ display:none; }


/* チェックされたときの装飾 */
#star_radio_1[type="radio"]:checked ~ .star_radio_label_area > .star_radio_label_flex > label[for="star_radio_1"] > .true_star{ display:inline-block; }
#star_radio_1[type="radio"]:checked ~ .star_radio_label_area > .star_radio_label_flex > label[for="star_radio_1"] > .false_star{ display:none; }

#star_radio_2[type="radio"]:checked ~ .star_radio_label_area > .star_radio_label_flex > label[for="star_radio_2"] > .true_star , 
#star_radio_2[type="radio"]:checked ~ .star_radio_label_area > .star_radio_label_flex > label[for="star_radio_1"] > .true_star { display:inline-block; }
             
#star_radio_2[type="radio"]:checked ~ .star_radio_label_area > .star_radio_label_flex > label[for="star_radio_2"] > .false_star, 
#star_radio_2[type="radio"]:checked ~ .star_radio_label_area > .star_radio_label_flex > label[for="star_radio_1"] > .false_star{ display:none; }
             
#star_radio_3[type="radio"]:checked ~ .star_radio_label_area > .star_radio_label_flex > label[for="star_radio_3"] > .true_star , 
#star_radio_3[type="radio"]:checked ~ .star_radio_label_area > .star_radio_label_flex > label[for="star_radio_2"] > .true_star ,
#star_radio_3[type="radio"]:checked ~ .star_radio_label_area > .star_radio_label_flex > label[for="star_radio_1"] > .true_star { display:inline-block; }
             
#star_radio_3[type="radio"]:checked ~ .star_radio_label_area > .star_radio_label_flex > label[for="star_radio_3"] > .false_star, 
#star_radio_3[type="radio"]:checked ~ .star_radio_label_area > .star_radio_label_flex > label[for="star_radio_2"] > .false_star,
#star_radio_3[type="radio"]:checked ~ .star_radio_label_area > .star_radio_label_flex > label[for="star_radio_1"] > .false_star{ display:none; }
             
#star_radio_4[type="radio"]:checked ~ .star_radio_label_area > .star_radio_label_flex > label[for="star_radio_4"] > .true_star , 
#star_radio_4[type="radio"]:checked ~ .star_radio_label_area > .star_radio_label_flex > label[for="star_radio_3"] > .true_star ,
#star_radio_4[type="radio"]:checked ~ .star_radio_label_area > .star_radio_label_flex > label[for="star_radio_2"] > .true_star ,
#star_radio_4[type="radio"]:checked ~ .star_radio_label_area > .star_radio_label_flex > label[for="star_radio_1"] > .true_star { display:inline-block; }
             
#star_radio_4[type="radio"]:checked ~ .star_radio_label_area > .star_radio_label_flex > label[for="star_radio_4"] > .false_star, 
#star_radio_4[type="radio"]:checked ~ .star_radio_label_area > .star_radio_label_flex > label[for="star_radio_3"] > .false_star,
#star_radio_4[type="radio"]:checked ~ .star_radio_label_area > .star_radio_label_flex > label[for="star_radio_2"] > .false_star,
#star_radio_4[type="radio"]:checked ~ .star_radio_label_area > .star_radio_label_flex > label[for="star_radio_1"] > .false_star{ display:none; }
             
#star_radio_5[type="radio"]:checked ~ .star_radio_label_area > .star_radio_label_flex > label[for="star_radio_5"] > .true_star , 
#star_radio_5[type="radio"]:checked ~ .star_radio_label_area > .star_radio_label_flex > label[for="star_radio_4"] > .true_star ,
#star_radio_5[type="radio"]:checked ~ .star_radio_label_area > .star_radio_label_flex > label[for="star_radio_3"] > .true_star ,
#star_radio_5[type="radio"]:checked ~ .star_radio_label_area > .star_radio_label_flex > label[for="star_radio_2"] > .true_star ,
#star_radio_5[type="radio"]:checked ~ .star_radio_label_area > .star_radio_label_flex > label[for="star_radio_1"] > .true_star { display:inline-block; }
             
#star_radio_5[type="radio"]:checked ~ .star_radio_label_area > .star_radio_label_flex > label[for="star_radio_5"] > .false_star, 
#star_radio_5[type="radio"]:checked ~ .star_radio_label_area > .star_radio_label_flex > label[for="star_radio_4"] > .false_star,
#star_radio_5[type="radio"]:checked ~ .star_radio_label_area > .star_radio_label_flex > label[for="star_radio_3"] > .false_star,
#star_radio_5[type="radio"]:checked ~ .star_radio_label_area > .star_radio_label_flex > label[for="star_radio_2"] > .false_star,
#star_radio_5[type="radio"]:checked ~ .star_radio_label_area > .star_radio_label_flex > label[for="star_radio_1"] > .false_star{ display:none; }


/* paginator */
.pagination{
    padding:0;
    margin:2rem 0;
    display:flex;
    justify-content:center;
    list-style:none;
}
.page_item{}
.page_link{
    padding:0.5rem 1rem;
    margin:0.25rem;
    border-radius:0.25rem;
    border:solid 0.2rem var(--orange);
}



/* form tag */

input[type="submit"], input[type="button"]{
  display: inline-block;
  height: calc(1.5em + .75rem + 2px);
  padding:0.25rem 1.5rem;
  margin:0.25rem 0;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--gray);
  background-clip: padding-box;
  border: 1px solid var(--gray);
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  cursor:pointer;
}
input[type="text"], input[type="number"], select{
  display: inline-block;
  height: calc(1.5em + .75rem + 2px);
  margin:0.25rem 0;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--gray);
  background-clip: padding-box;
  border: 1px solid var(--gray);
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
textarea{
    overflow: auto;
    resize: vertical;
    display: block;
    width: 90%;
    margin:0.5rem auto;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--gray);
    background-clip: padding-box;
    border: 1px solid var(--gray);
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


