:root{
    /* 配色指定1 */
    --green        : #37AB9D;
    --light-green  : #4DC0B2;
    --orange       : #FFC042;
    --gray         : #586365;
}
body{
    background: var(--green);
    color:white;
    margin:0;
}
main {
    margin:1rem;
}
h1 {
    text-align:center;
}


/* header_area */
.header_area{
    background:var(--light-green);
    padding:0.25rem 0;
}
.header_title_area{
    margin:0.25rem;
    padding:0.25rem;
}
.header_title{
    text-decoration:none;
    color:white;
}


.errorlist{
    background: crimson;
    padding: 0.5rem 2rem;
    border-radius:0.25rem;
}
.body_area {
    max-width:800px;
    margin:auto;
}
.body_area_inner{
    padding:2rem;
    background:var(--light-green);
    border-radius:2rem;
}

input[type="text"],input[type="password"],input[type="email"]{

    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    font-size: 1rem;
    color: #495057;
    background: white;
    border: 1px solid var(--orange);
    border-radius: .25rem;

    box-sizing: border-box;
}

button{
    display:block;
    width:100%;
    margin:0.5rem 0;
    font-size: 1rem;
    background:white;
    border: 1px solid var(--orange);
    border-radius:0.25rem;
    cursor:pointer;
    transition:0.2s;

    padding:0.5rem;

    line-height: 1.5;

    user-select: none;
    text-align: center;
    vertical-align:middle;
}
button:hover{
    background:var(--orange);
    transition:0.2s;
}


