{% load static %}

<div class="content_area">
    {% for favorite in favorites %}
    <div class="content">
        <a class="content_inner" href="{% url 'diy:project_single' favorite.project.id %}">
            <div class="content_thumbnail_area">
                {% if favorite.project.thumbnail %}
                <img class="content_thumbnail" src="{{ favorite.project.thumbnail.url }}" alt="">
                {% else %}
                <img class="content_thumbnail" src="{% static 'diy/image/noimage.jpg' %}" alt="">
                {% endif %}

                <div class="content_dt"><i class="fa-solid fa-pen-fancy"></i> {{ favorite.project.dt|date:"Y/m/d" }}</div>


                <div class="content_title">
                    <div class="content_detail">
                        {# <i class="fa-solid fa-list"></i> {{ project.category.name }} #}

                        {# 投稿日時は上部でも良いのでは？ #}
                        {# <i class="fa-solid fa-pen-fancy"></i> {{ project.dt|date:"Y/m/d" }} #}

                        <i class="fa-solid fa-hammer"></i> Lv. {{ favorite.project.level }}
                        <i class="fa-regular fa-clock"></i> {{ favorite.project.time }}分
                    </div>
                    {{ favorite.project.title }}
                </div>

            </div>
        </a>
    </div>
    {% endfor %}
</div>




